 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

header{
   width: 100vw;
   height: 108px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
   
      
}



.tittle{
margin: 10px 134px 10px 72px;
}

.options{
    width: 455px;
    height: 19px;
    display: inline-flex;
    justify-content: space-between;
    
}

.a_options{
   width: 64px;
   height: 19px;
   margin-right: 50px; 
}

#sobre_nos{
    width: 75px;
    height: 19px;
}

header a{
    color: #4c5d73;
    text-decoration: none;
    font-size: 16px;
}

.cadastre-se a{
    color: #304f8c;
    margin-right: 24px;
    
}

.cadastre-se{
    margin: 0 0 0 10px;
}


#entrar{
    width: 150px;
    height: 44px;
    color: #304f8c;
    background: white;
    border-color: #304f8c;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px;
    margin: 5px 72px 0 10px;
   
}

.hero{
    width: 1136px;  
    margin-bottom: 88px;
    
}

.hero_top{
    margin-top: 50px;
    margin-left: 72px;
}

.hero_top p{
    width: 527px;
    height: 48px;
    font-size: 16px;
    color: #4c5d73;
}

.hero_top h1{
    width: 532px;
    height: 112px;
    font-size: 40px;
}

#quero_conhecer{
    border: solid;
    background: #304f8c;
    color: #ffffff;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 22px;   
}

.hero_imagem{
    width: 432px;
    height: 349px;
    margin-right: 72px;
    margin-top: 30px;
}

.hero_init{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
}

.hero_bottom{
    width: 100vw;
    height: 124px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
}

.hero_options{
    width: 164px;
    display: inline-flex;
}

.options_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 9px;
    font-size: 17px;
}

.options_text p{
    font-size: 14px;
    color: #4C5D73;
}

#em_cloud{
    padding-right: 30px;
}

#focado{
    width: 190px;
    height: 59px;
}

#focado_em{
    padding-right: 30px;
}

#costumer_success{
    width: 122px;
    height: 30px;
}

#seg{
   width: 180px;
   height: 59px; 
}

#seguranca{
   padding-right: 20px; 
}

#para_seu_negocio{
    width: 112px;
    height: 30px;
}


.servicos{
    width: 100vw;
    height: 424px;
}

.servicos_bottom{
    border: solid;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 208px;
}

.servico_options{
    border: solid 1px;
    
}







