 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}




header{
   width: 100vw;
   height: 108px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;  
}


.tittle{
margin: 10px 134px 10px 72px;
}

.options{
    width: 455px;
    height: 19px;
    display: inline-flex;
    justify-content: space-between;
    
}

.a_options{
   width: 64px;
   height: 19px;
   margin-right: 50px; 
}

#sobre_nos{
    width: 75px;
    height: 19px;
}

header a{
    color: #4c5d73;
    text-decoration: none;
    font-size: 16px;
}

.cadastre-se a{
    color: #304f8c;
    margin-right: 24px;
    
}

.cadastre-se{
    margin: 0 0 0 10px;
}


#entrar{
    width: 150px;
    height: 44px;
    color: #304f8c;
    background: white;
    border-color: #304f8c;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px;
    margin: 5px 72px 0 10px;
   
}



.hero{
    width: 1136px;  
    margin-bottom: 88px;
    
}

.hero_top{
    margin-top: 50px;
    margin-left: 72px;
}

.hero_top p{
    width: 527px;
    height: 48px;
    font-size: 16px;
    color: #4c5d73;
}

.hero_top h1{
    width: 532px;
    height: 112px;
    font-size: 40px;
}

#quero_conhecer{
    border: solid;
    background: #304f8c;
    color: #ffffff;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 22px;  
    border: none; 
}

.hero_imagem{
    width: 432px;
    height: 349px;
    margin-right: 72px;
    margin-top: 30px;
}

.hero_init{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
}

.hero_bottom{
    width: 100vw;
    height: 124px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 48px;
}

.hero_options{
    width: 164px;
    display: inline-flex;
}

.options_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 9px;
    font-size: 17px;
}

.options_text p{
    font-size: 14px;
    color: #4C5D73;
}

#em_cloud{
    padding-right: 30px;
}

#focado{
    width: 190px;
    height: 59px;
}

#focado_em{
    padding-right: 30px;
}

#costumer_success{
    width: 122px;
    height: 30px;
}

#seg{
   width: 180px;
   height: 59px; 
}

#seguranca{
   padding-right: 20px; 
}

#para_seu_negocio{
    width: 112px;
    height: 30px;
}



.servicos{
    width: 100vw;
    height: 424px;
}
.servicos_top{
    margin-bottom: 48px;
    margin-left: 72px;
}

.servicos_top p{
   
    width: 88px;
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4C5D73;
}

.servicos_top h2{
    width: 826px;
    height: 80px;
    font-size: 32px;
    font-weight: 500px;
}

.servicos_bottom{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 208px;
}

.servico_options{
    width: 268px;
    height: 208px;
    padding-left: 24px;
    padding-top: 20px;
}

.servico_options img{
    padding-bottom: 23px;
}

.servico_options p{
    color: #4C5D73;
}

#controle_de_vendas h4{
    width: 163px;
    height: 30px;
    font-size: 17px;
}

#controle_de_vendas p{
    width: 209px;
    height: 36px;
    font-size: 14px;
}

#controle_de_estoque h4{
    width: 172px;
    height: 30px;
    font-size: 17px;
}

#controle_de_estoque p{
    width: 213px;
    height: 36px;
    font-size: 14px;
}

#gestao_de_clientes h4{
    width: 159px;
    height: 30px;
    font-size: 17px;
}

#gestao_de_clientes p{
    width: 209px;
    height: 36px;
    font-size: 14px; 
}

#gestao_de_fornecedores h4{
    width: 203px;
    height: 30px;
    font-size: 17px;
}

#gestao_de_fornecedores p{
    width: 220px;
    height: 36px;
    font-size: 14px;
}



.sobre_nos{
    width: 100vw;
    height: 777.27px;
}

.left-right{
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sobre_nos_left{
    width: 700.12px;
    height: 751.27px;
}

.sobre_nos_left p{
    width: 101px;
    height: 56px;
    font-size: 16px;
    margin-left: 72px;
    color: #4C5D73;
}

.sobre_nos_left h2{
    width: 609px;
    height: 40px;
    font-size: 32px;
    font-weight: 500;
    margin-left: 72px;
}

.sobre_nos_left img{
    width: 523.89px;
    height: 604.38px;
    margin-left: 36.66px;
}

.sobre_nos_right{
    width: 676px;
    height: 278px;
    margin-right: 47px;
}

#sobre_p1{
   width: 676px;
   height: 48px; 
   font-size: 16px;
   margin-bottom: 32px;

}#sobre_p2{
    width: 676px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 32px;
}

.p3{
    display: inline-flex;
    align-items: center;
    width: 676px;
    height: 24px;
    font-size: 16px;
    margin-bottom: 40px;
    
}

.p3 img{
    width: 18px;
    height: 18px;
    margin-left: 9px;
}

#nossos_cases{
    width: 214px;
    height: 48px;
    font-size: 15px;
    font-weight: bold;
    background: #ffffff;
    border-color: #304F8C ;
    border-radius: 8px;
    color: #304F8C;
    border: solid 1px;
    cursor: pointer;
}



.atuacao{
    width: 100vw;
    height: 424px;
}

.atuacao_top p{
    width: 82px;
    height: 56px;
    font-size: 16px;
    color: #4C5D73;
    margin-left: 72px;
}

.atuacao_top h2{
    width: 858px;
    height: 80px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 48px;
    margin-left: 72px;
}

.atuacao_bottom{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 208px;
}

.atuacao_options{
    width: 268px;
    height: 208px;
    padding-top: 26px;
}

.atuacao_options img{
    padding-left: 81px;
}

#bares{
    padding-left: 109px;
}

#restaurantes{
    padding-left: 76px;
}

#mercearias{
    padding-left: 87px;
}

#adegas{
    padding-left: 102px;
}

